.container {
    width: 100%;
    height: 100%;
    background-color: #212529;
    padding-bottom: 1rem;
}

.originalInput {
    padding: 20px 40px;
    width: 100%;
    height: 90%;
    text-align: start;
    background-color: transparent;
    color: white;
    border: none;
}

.hint {
    color: white;
    font-size: 12px;
}

a.hint {
    text-decoration: underline;
}

.snippetInfo > input {
    width: 50%;
    height: 30px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
}

.initialText {
    width: 50%;
    text-align: center;
    position: absolute;
    top: 45%;
    z-index: 10;
    color: white;
}