.copyright {
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: small;
    text-decoration: underline;
    padding: 0.6rem 2rem;
    background-color: white;
}

.copyright > a {
    margin: 0 10px;
}
