.copyright {
    right: 0;
    bottom: 0;
    position: absolute;
    font-size: small;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.copyright > a {
    padding: 0.6rem 2rem;
    background-color: white;
}